# Prodigys conventions

*virtualenv*
venv
media
sessions
build*
.*-cache
*.pyc
*.pyo

# Data files
src/input_files/*.csv
src/input_files/*.xls
src/input_files/*.xlsx
src/input_files/bak/*.csv
src/input_files/bak/*.xls
src/input_files/bak/*.xlsx

# SublimeSFTP

sftp-config.json

# Local project

.settings_local.py.*

# Mac OS X
*.DS_Store

# IDEs
.settings
.project
.idea
.pydevproject
*.sublime-*
bower_components
node_modules


# Project
settings_local.py
settings.config
/.vs

# Log
*.log